/backend/venv/*
*.pyc
/frontend/.cache/*
/frontend/dist/*
/frontend/node_modules/*
/frontend/package.json
/frontend/package-lock.json
*.cache
*.DS_Store
/frontendV2.0/.cache/*
/frontendV2.0/dist/*
/frontendV2.0/node_modules/*
/frontendV2.0/package-lock.json
/backend/src/*/migrations/*
!/backend/src/*/migrations/__init__.py
/backend/src/media/*
.idea/*
/backend/src/nohup.out
/backend/src/sqlite3.db
/backend/src/*.log
*.idea
amazonec2
