{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
  ], 
  "presets": ["@babel/preset-react"]
}
