option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: 'lessonger/wsgi.py'
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: lessonger.settings
    PYTHONPATH: /opt/python/current/app/lessonger:$PYTHONPATH
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-2:202372026722:certificate/93062a43-c282-411d-805f-1203c1a73e36
    #lessonger.com
    #SSLCertificateArns: arn:aws:acm:ap-northeast-2:202372026722:certificate/1a9cd781-ce73-4b4a-b318-034b2ad420f9