packages:
  yum:
    gcc: []
    gcc-c++: []
    libcurl-devel: []
    openssl-static.x86_64: []
    openssl-devel: []
    curl: []
    libcurl: []

container_commands:
  00_1_pip_upgrade:
    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  00_2_install_pycurl:
    command: /opt/python/run/venv/bin/pip install pycurl --global-option="--with-openssl" --upgrade
    ignoreErrors: false
    leader_only: true
  01_makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  #05_createsuperuser:
  #  command: "echo \"from django.contrib.auth.models import User; User.objects.create_superuser('admin','admin@admin.com','Helloworld_123')\" | python manage.py shell"
  #  leader_only: true
