commands:
  01_create_file:
    command: touch /var/log/debug.log /var/log/djangonativedebug.log
  02_change_permissions:
    command: chmod 777 /var/log/debug.log /var/log/djangonativedebug.log
  #03_change_owner:
  #  command: chown wsgi:wsgi /var/log/debug.log /var/log/djangonativedebug.log
  #
  # log files
  # /var/log/httpd/access_log
  # /var/log/httpd/error_log
  # /var/log/eb-activity.log